<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.estate_android_app">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    /** permission **/
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SampleTheme">
        <activity
            android:name=".ui.activity.LoadActicity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/splash_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="MainActivity"></activity>
        <!-- 二维码扫描 -->
        <activity
            android:name=".zbar.lib.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <!--引导界面-->
        <activity
            android:name=".ui.activity.GuidanceActvity"
            android:label="@string/title_activity_guidance_actvity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--登录界面-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--公告栏界面-->
        <activity
            android:name=".ui.activity.BulletinActivity"
            android:label="@string/bulletin_text"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--公告栏详情界面-->
        <activity
            android:name=".ui.activity.BulletinDetailsActivity"
            android:label="@string/bulletin_text"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--库存使用界面-->
        <activity
            android:name=".ui.activity.InvuseActivity"
            android:label="@string/title_invuse_text"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--工具管理界面-->
        <activity
            android:name=".ui.activity.ToolitemActivity"
            android:label="@string/toolitem_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
