<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.estate_android_app">

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SampleTheme">
        <activity
            android:name=".ui.activity.LoadActicity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/splash_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="MainActivity"></activity>
        <!-- 二维码扫描 -->
        <activity
            android:name=".zbar.lib.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <!--引导界面-->
        <activity
            android:name=".ui.activity.GuidanceActvity"
            android:label="@string/title_activity_guidance_actvity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--登录界面-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
